body {

	background-repeat: no-repeat;
	background-size: cover;

}

.bg-1 {

	background-image: url('../img/bg-trans-2.jpg');
    min-height: 900px;
	
}

.navbar-brand {

	margin-right: 50px;

}

.inner {

	color: black;
	/*text-shadow: 0px 2px #000000;*/
}

.navbar-inverse {

	background-color: #C54B4B;
	border-color: #ffffff;
}


.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>.active>a
 {
 	/*background-color: #4b88c5;*/
 	background-color: #acacac;
 }

 .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {

	background-color: #acacac;

}

.flex-container {
 display: -webkit-flex; /* Safari */
 display: flex;
 -webkit-flex-wrap: wrap; /* Safari */
 flex-wrap: wrap;
 -webkit-justify-content: space-around; /* Safari */
 justify-content: space-around;
 -webkit-align-content: center; /* Safari */
 align-content: center;
 -webkit-align-items: center; /* Safari */
 align-items: center;
}


.videowrapper {

    width: 60%;
    height: 0;

    /*clear: both;
    
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;*/

}
.videowrapper iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;

}